/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/* Banner Section */
.slider_one{
    background-image: url(../Images/banner.png);
    background-color: rgba(0, 0, 0, 0.589);
    background-blend-mode: overlay;
    background-size: cover;
    height: 94vh;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.slider_two{
    background-image: url(../Images/banner3.jpg);
    background-color: rgba(0, 0, 0, 0.623);
    background-blend-mode: overlay;
    background-size: cover;
    height: 94vh;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.slider_three{ 
    background-image: url(../Images/banner2.jpg);
    background-color: rgba(0, 0, 0, 0.602);
    background-blend-mode: overlay;
    background-size: cover;
    height: 94vh;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Package Section */
.toast{
    position: relative;
    left: 1%;
}
.unique_card{
    background-color: #3F87F5;
}
.check{
    margin-right: 6px;
    color: #3F87F5;
    /* background-color: #5243c2b6; */
    border-radius: 50%;
}
.diff_check{
    margin-right: 6px;
    color: #fefeff;
    /* background-color: #5243c2b6; */
    border-radius: 50%; 
}
.card-body>a.customize:hover{
    color: blue !important;
}
.badge{
    position: relative;
    z-index: 10;
    top: 5%;
    left: 89%;
}
.package_btn{
    background-color: #f1b4db4d;
    color: #3F87F5;
}

.card-body li{
    margin-bottom: 6px;
}


/* Responsive Design */
@media (max-width:1050px){
    .slider h2{
        font-size: 35px;
    }
    .slider p{
        font-size: 17px;
    }
    .slider > div{
        width: 80% !important;
    }
}
@media (max-width:755px){
    .footer_app{
        display: flex;
        align-items: center; 
        justify-content: center;
        flex-direction: row;
    }
    .app{
        display: flex;
        flex-direction: column;
    }
    .app a{
        margin-top: 5px;
    }
}
@media (max-width:353px){
    .style_media{
        margin-top: 6px;
    }
}